body{
    background-color: antiquewhite;
}
header{
    font-family : sans-serif;
    text-align: center;
}

.section1{
    display:grid;
    grid-template-areas: 
    "A B B"
    "A C C"
    "A D";
    grid-gap: 1px;

    height:100vh;
    overflow: hidden;
    flex-grow:inherit;
    
}
.section1 img{
    flex-direction:column;
    position:relative;
    max-height:100vh;
    min-height: 60vh;   
    max-width:100%;
    min-width: none;
    display:inline;
    align-content: center;
    place-content:inherit;
}


.diapo {
    position:relative;
    display: block;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 90%;
    
    
}

.w4-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
    
    border-radius: 5%;
}

.bt-left {
    left: 10px;
}

.bt-right {
    right: 10px;
}