body{
    background-color: antiquewhite;
}
header{
    font-family : sans-serif;
    text-align: center;
}

.section1{
    display: block;
    scroll-snap-type: y mandatory ;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    height:100vh;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.section1 img{
    flex-direction:column;
    position:relative;
    max-height:90vh;
    min-height: 60vh;
    max-width:90%;
    min-width: none;
    display: block;
    margin: 5vh 0vh 5vh 0vh;
    float:center;
}


.diapo {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 90%;
    
    
}

.w4-button {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
    
    border-radius: 5%;
}

.bt-left {
    left: 10px;
}

.bt-right {
    right: 10px;
}